@import "tailwindcss";

:root {
  --windows-bar-colour: var(--color-sky-400);
  --windows-bar-text-colour: var(--color-sky-800);
  --windows-bg-colour: var(--color-sky-200);
  --windows-main-text-colour: var(--color-sky-800);

  --grid-scroll-bg: url('../../public/crosshatch-light.webp');
}

@theme inline {
  --font-sans: var(--font-jersey10);
  --color-winbg: var(--windows-bg-colour);
  --color-winbar: var(--windows-bar-colour);
  --color-winbar-text: var(--windows-bar-text-colour);
  --color-wintext: var(--windows-main-text-colour);
}

@media (prefers-color-scheme: dark) {
  :root {
    --windows-bar-colour: var(--color-sky-800);
    --windows-bar-text-colour: var(--color-sky-200);
    --windows-bg-colour: var(--color-sky-200);
    --windows-main-text-colour: var(--color-sky-800);

    --grid-scroll-bg: url('../../public/crosshatch-dark.webp');
  }
}

body {
  background: var(--grid-scroll-bg) repeat 0 0, var(--color-blue-400);
  background-blend-mode: luminosity;
  animation: bg-scrolling-reverse 5s linear infinite;
}